@import url('../fonts/Roboto.css');

* {
  font-family: sans-serif;
}

body {
  margin: 0 8%;
  display: grid;
  grid-template-rows: 1fr 10fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70% auto;
  grid-area: header;
}

.addTeacher {
  padding: 5px;

  > a {
    float: right;
    vertical-align: middle;
    padding: 1rem 2rem;
    border: 2px solid;
    font-size: 1.5rem;
    color: rgb(247, 92, 73);
    font-weight: bold;

    &:hover,
    &:active {
      background-color: rgb(247, 92, 73);
      color: white;
    }
  }
}

.main-header__search {
  * {
    float: right;
    margin: 0.3rem;
  }

  > a {
    vertical-align: middle;
    padding: 1rem 2rem;
    border: 2px solid rgb(247, 92, 73);
    font-size: 1.1rem;
    color: rgb(247, 92, 73);
    font-weight: bolder;

    &:hover,
    &:active {
      background-color: rgb(247, 92, 73);
      color: white;
    }
  }

  input[type=text] {
    border: 2px solid red;
    display: block;
    padding: 1rem 0.5rem;
    font-size: 1.1rem;
    width: 12rem;
  }
}

.main-header__logo {
  img {
    max-width: 70%;
    margin-bottom: 5%;
    content: url("../images/logo.png");
  }
}

#logoImg:hover {
  content: url("../images/logo_hover.png");
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;

  a {
    color: rgb(247, 92, 73);

    &:first-of-type {
      padding-left: 1.2rem;
    }

    &:last-of-type {
      padding-right: 1.2rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
}

hr {
  width: 40%;
  color: #363636;
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.top-teachers__filter {
  display: flex;
  justify-content: space-between;
  width: 48%;
  font-size: 1rem;
  align-items: center;
  margin: 1rem;
}

.filter {
  color: rgb(153, 153, 153);

  &:hover {
    color: black;
  }
}

.vr {
  border-left: 3px dotted rgb(153, 153, 153);
  height: 1.5rem;
}

.teachersThumbnails {
  margin: 2%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.4rem 1.5rem;
}

.teacherThumbnail {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  white-space: initial;
  width: 20rem;
  text-align: center;
}

.teacherThumbnail__img {
  object-fit: cover;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  border: 6px solid rgb(249, 149, 137);

  &:hover,
  &:active {
    border-color: rgb(204, 72, 54);
    transform: scale(1.2);
  }
}

.teacherThumbnail__starIcon {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 75%;
}

.teacherThumbnail__info {
  margin: 0;
}

.teacherThumbnail__name {
  white-space: pre-line;
  display: block;
  font-size: 1.5rem;
}

.teacherThumbnail__country {
  display: block;
  margin: 1rem;
  font-size: 0.8rem;
}

.statisticTable__table {
  width: 100%;
  border-collapse: collapse;

  & thead {
    border-collapse: separate;
    z-index: -1;
    position: relative;
  }

  & th {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
  }

  & th:hover {
    border-bottom: 4px solid black;
  }

  & th:first-of-type {
    text-align: left;
    padding-left: 0.7rem;
  }

  & tr {
    & td {
      padding: 0.7rem;
    }

    & td:not(:first-of-type) {
      text-align: center;
    }
  }

  & tbody {
    border-collapse: separate;
    border-top: 4px solid black;
    font-size: 1.3rem;
  }

  & tr:nth-child(even) {
    background: rgb(249, 245, 249);
  }
}

.statisticTable__pagination {
  font-size: 1.5rem;
  padding: 20px 0.3rem;

  a {
    display: inline-block;
    margin: 10px 0.4rem;
  }
}

.arrow {
  position: absolute;
  top: 40%;

  &.rightArrow {
    left: 100%;
  }

  &.leftArrow {
    left: -7%;
  }

  & img {
    display: block;
    height: 5rem;
    width: 3rem;
  }
}

.favoriteTeachers {
  justify-content: space-around;
}

.pageInfo {
  font-size: 1.2rem;
  display: block;
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10rem;
}

.footer__nav {
  width: 50%;

  a {
    color: rgb(101, 163, 190);

    &:first-of-type {
      padding: 0;
    }
  }
}

.modal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  width: 100%;
  height: 100%;

  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  & > div {
    border: 1px solid black;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em;
    background: white;
  }
}

.verboseTeacherCard {
  width: 60%;
}

.verboseTeacherCardBackground {
  a {
    color: rgb(101, 163, 190);
  }

  h2 {
    text-align: left;
    margin: 1rem 1rem 1rem 2rem;
    padding: 0.5rem 2rem 0 0;
  }

  & h3 {
    font-size: 0.8rem;
    margin: 1rem 1rem 1rem 2rem;
  }

  & img {
    width: 30%;
  }

  & p {
    padding: 1rem 0;
  }

  & .clear {
    clear: left;
  }

  & .teacherCard__img {
    float: left;
    margin-right: 2rem;
  }

  & .teacherCard__mapToggle {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  & .teacherCard__starIcon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 90%;
  }
}

.modal-close {
  color: #aaa;
  position: absolute;
  right: 0;
  top: 5%;
  width: 4rem;
}

.teacherForm {
  & input,
  & select {
    height: 1.4rem;
  }

  & h2 {
    padding-bottom: 1rem;
  }

  & form {
    display: flex;
    flex-direction: column;
  }
}

.teacherData__background,
.teacherData__gender {
  display: flex;
  justify-content: space-between;

  & label {
    margin: 0;
  }
}

.teacherData {
  form * {
    margin: 0.5rem 4px 4px 4px;
  }
}

@media (max-width: 768px) {
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; // Can i use 69%

    &_logo {
      align-self: center;

      img {
        max-width: 100%;
      }
    }
  }

  .nav {
    flex-direction: column;
    gap: 0.5rem;

    a:first-of-type,
    a:last-of-type {
      padding: 0;
    }
  }

  .arrow {
    display: none;
  }

  #about {
    margin: 0.5rem;
  }

  .top-teachers__filter {
    flex-direction: row;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .teacherThumbnail {
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .main-header__search {
    display: flex;
    flex-direction: column;
  }

  body {
    margin: 0;
  }

  .teacherData form * {
    margin: 4px;
  }

  .teacherForm h2 {
    margin: 0;
  }
}
